<% include ./layouts/header %>
<h1>admin</h1>
<form class="pure-form pure-form-stacked" action="/login" method="POST">
    <fieldset>
        <legend>ADMINISTRADOR</legend>

       
    </fieldset>
</form>
<% include ./layouts/footer %>